styles.doc
  * {margin: 0; padding: 0;}

html {background: url(https://images.pexels.com/photos/985287/pexels-photo-985287.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}

/* navbar */
.nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: linen;}

.nav ul {margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
 }
.nav li {display: inline-block;}

.nav li a {display: block;
text-transform: uppercase;
color: navy;
font-size: 2rem;
padding: 1rem;
border-radius: 8pt;}

a {text-decoration: none;}

.nav li:hover a {color: linen;
background-color: navy;
text-decoration: none;
}

p, h1, h2, h3, h4
{text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
padding: 1rem;}

/* welcome */
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: linen;
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;}

/* projects */
#projects {text-align: center;
    padding: 10rem 2rem;
    color: linen;
    font-size: 2.4rem;
    }

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 20 auto;
    margin-bottom: 6rem}

.project-tile {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
    border-radius: 8px;}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
    background-color: navy;
    border-radius: 5px;
    }

.projects-grid a {color: linen;}

h4 a {color: linen;}


/* contact */
#contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: serif;
    font-weight: bold;
    font-size: 48pt;
    color: linen}

@media (any-hover: hover) {
  a:hover {color: linen;
transition: all 150ms ease-in-out; cursor: pointer; border-radius: 8pt; text-decoration: underline;}}

.button, .linkedin {font-size: 48pt;
background: transparent;
color: linen;
border: none;
font-family: serif;
text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
font-weight: bold;
padding: 1rem;
}

.button:hover {background: navy; color: linen;
transition: all 150ms ease-in-out; cursor: pointer; text-decoration: none;
border-radius: 8pt;}

